*{
    padding:0%;
    margin:0%;
    box-sizing: border-box;
    font-family: "proxima-nova",sans-serif;
    scroll-behavior: smooth;
}
header{
    height:600px;
    /* border:2px solid red; */
    background-image: url('./Assests/Ray+Romano+Loft+renovation+nyc+brooklyn+hamptons+luxury+construction.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: 2px;
    background-repeat: no-repeat;
}
header nav{
    height:100px;
    /* border:2px solid green; */
    display: flex;
    font-size:10px;
    justify-content: center;
    align-items: center;
    gap:45%;
    color:#1a1a1a;
    font-weight: 600;
    background-color: white;
    letter-spacing: 2px;;
}
header nav img{
    height:80px;
    width:80px;
}
header nav ol{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    /* border:2px solid pink; */
    font-size:.85em;
}
header article{
    height:200px;
    /* border:2px solid; */
    width:280px;
    margin-top:-23%;
    float: right;
    position: relative;
    /* align-content: end; */
}

header aside span{
    color:white;
}
header aside span{ 
    opacity: 0;
} 
header aside:hover span{
    opacity: 1;
}
header aside a{
    height:10px;
    width:10px;
    border:2px solid white;
    border-radius: 50%;
    position: fixed;
}

header h1{
    background-color: rgba(255, 255, 255, 0.475);
    height:60px;
    font-size:32px;
    /* border:2px solid red; */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top:5%;
    margin-left:5%;
    /* margin-top: -2%; */
    font-weight: normal;
    align-content: center;
    width:45%;
    text-align: center;
}

header p{
    background-color: rgba(255, 255, 255, 0.475);
    height:80px;
    font-size:14px;
    /* border:2px solid red; */
    letter-spacing: 1px;
    /* text-transform: uppercase; */
    margin-top:5%;
    margin-left:5%;
    text-align: left;
    font-weight: normal;
    align-content: center;
    line-height: 20px;
    letter-spacing: 1px;
    width:62%;
}
header nav ol #about{
    color: rgba(128, 128, 128, 0.474);
}
header nav ol #about:hover{
    /* color: rgba(128, 128, 128, 0.474); */
    color:#1a1a1a;
}
header div{
    display: flex;
    justify-content: center;
    align-items: end;
    color:white;
    font-size:38px;
    height: 200px;
    font-weight: normal;
  
}
a:visited{
    color:white;
}
a:link{
    color:white;
}
a:active{
    color:white;
}


#sec1{
    height:350px;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec1 div{
    height:250;
    /* border:2px solid gold; */
    width:65%;
}
#sec1 div h3{
    height:60px;
    /* border:2px solid greenyellow; */
    text-transform: uppercase;
    align-content: center;
    letter-spacing: 1px;
}
#sec1 div p{
    font-size:13px;
    line-height: 20px;
}
#sec2{
  height:580px;
  background-image: url('./Assests/Ray+Romano+Contracting+combination+renovation+luxury+contemporary+Upper+East+Side+NYC+Hamptons+Brooklyn+NJ.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-content: start;
}
#sec2 div h1{
    background-color: rgba(255, 255, 255, 0.475);
    height:100px;
    font-size:28px;
    /* border:2px solid red; */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top:5%;
    margin-left:5%;
    line-height: 40px;
    /* margin-top: -2%; */
    font-weight: normal;
    align-content: center;
    width:60%;
    text-align: left;
    color:#1a1a1a;
}
#sec3{
    height:400px;
    /* border:2px solid orangered; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec3 div{
    height:350;
    /* border:2px solid gold; */
    width:65%;

}
#sec3 div h3{
    height:60px;
    /* border:2px solid greenyellow; */
    text-transform: uppercase;
    align-content: center;
    letter-spacing: 1px;
}
#sec3 div p{
    font-size:13px;
    line-height: 20px;
}
#sec4{
    height:580px;
    background-image: url('./Assests/Ray+Romano+Hamptons+Sag+Harbor+renovation.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    align-content: start;
}
#sec4 h1{
    background-color: rgba(255, 255, 255, 0.475);
    height:80px;
    font-size:28px;
    /* border:2px solid red; */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top:5%;
    margin-left:5%;
    line-height: 40px;
    /* margin-top: -2%; */
    font-weight: normal;
    align-content: center;
    width:15%;
    text-align: left;
    color:#1a1a1a;
}
#sec5{
    height:400px;
    /* border:2px solid orangered; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec5 div{
    height:350;
    /* border:2px solid gold; */
    width:65%;

}
#sec5 div h3{
    height:60px;
    /* border:2px solid greenyellow; */
    text-transform: uppercase;
    align-content: center;
    letter-spacing: 1px;
}
#sec5 div p{
    font-size:13px;
    line-height: 20px;
}
#sec6{
    height:580px;
    background-image: url('./Assests/1040.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    align-content: start;
}
#sec6 h1{
    background-color: rgba(255, 255, 255, 0.475);
    height:60px;
    font-size:28px;
    /* border:2px solid red; */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top:5%;
    margin-left:5%;
    line-height: 40px;
    /* margin-top: -2%; */
    font-weight: normal;
    align-content: center;
    width:22%;
    text-align: left;
    color:#1a1a1a;
}
#sec7{
    height:400px;
    /* border:2px solid orangered; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#sec7 div{
    height:350;
    /* border:2px solid gold; */
    width:65%;

}
#sec7 div h3{
    height:50px;
    /* border:2px solid greenyellow; */
    text-transform: uppercase;
    align-content: center;
    letter-spacing: 1px;
    font-size:16px;
}
#sec7 div p{
    font-size:12px;
    line-height: 20px;
}
#sec8{
    height:580px;
    background-image: url('./Assests/Custom+Closet+Ray+Rompano+Contracting+NYC+Brooklyn+Upper+east+Side+NYC+renovation.jpg');
    background-size: cover;
    align-content: start;
}
#sec8 h1{
    background-color: rgba(255, 255, 255, 0.475);
    height:60px;
    font-size:28px;
    /* border:2px solid red; */
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top:5%;
    margin-left:5%;
    line-height: 40px;
    /* margin-top: -2%; */
    font-weight: normal;
    align-content: center;
    width:14%;
    text-align: left;
    color:#1a1a1a;
}
#sec9{
    height:850px;
    /* border:2px solid orangered; */
    align-content: center;
    
}
#sec9 div{
    height:250px;
    /* border:2px solid purple; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap:20px; */
}
#sec9 div aside{
    height:250px;
    width:250px;
    /* border:2px solid gold; */
    font-size:12px;
}
#sec9 div aside img{
    height:200px;
    width:230px;
}
#sec9 div aside img:hover{
   content: "hello";
   color:black;
}
#sec9 div aside p{
    margin-top:2%;
}
#sec9 div #aside1{
    margin-left:-42%;
}
#sec10{
    height: 150px;
    /* border:2px solid deeppink; */
    background-color: #1a1a1a;
    align-content: center;
    color: white;
    text-align: center;
}
#sec10 main {
    height:50px;
    width:50px;
    align-content: center;
    text-align: center;
    margin-top: -4%;
    margin-left: 50%;
}
#sec10 main aside{
    height:45px;
    width:45px;
    background-color: white;
    color:black;
    display: inline-block;
    align-content: center;
    font-size: 14px;
    border-radius: 50%;
    margin-top: -30%;
}
#sec10 main aside {
    scroll-behavior: smooth;
}

#sec10 article{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:60px;
    height:90px;
}
#sec10 article ol{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5px;
}
#sec10 article button{
    border-radius: 50%;
    height:25px;
    width:25px;
}
#sec10 article div p{
    font-size: 11px;
}
#a1:visited{
    color: #1a1a1a;
}
#a1:link{
    color: #1a1a1a;
}
#a1:active{
    color: #1a1a1a;
}