*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Lato",sans-serif;
}
header{
    height:600px;
    /* border:2px solid blue; */
    background-image: url('./Assests/imgi_47_home-new-bg-free-img.jpg');
    background-size: cover;
    background-attachment: fixed;
}
header nav{
    height:80px;
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:80px;

    color: white;
}
header nav img{
    height:40px;
    width:100px;
}
nav ol{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items:  center;
    /* border:2px solid yellow; */
    gap:20px;
    font-size: 14px;
    font-weight: 600;
}
nav ol li img{
    height:20px;
    width:20px;
}
nav #ol{
    
    margin-right: 12%;
}
nav #ol2{
    font-size: 12px;
}
header aside{
    height:500px;
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:100px;
    color:white;
}
header div{
    height:400px;
    width:400px;
    /* border:2px solid white; */
}
header div h1{
    height:150px;
    /* border:2px solid blue; */
    font-size:42px;
    align-content: end;
}
header div h4{
    height:80px;
    /* border:2px solid green; */
    align-content: center;

}
header div button{
    width:30%;
    height:40px;
}
header div button:hover{
    background-color: black;
    color:white;
}
header div #btn{
    background-color: rgba(102, 102, 184, 0);
    border:1px solid #fff
}
header div #btn:hover{
    background-color: white;
    color: black;
}
#sec1{
    height:600px;
    /* border:2px solid red; */
}
#sec1 ol{
    /* border:2px solid blue; */
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap:80px;
    height:120px;
}
#sec1 article{
    height:450px;
    /* width:400px; */
    /* border:2px solid blueviolet; */
   display: flex;
   justify-content: center;
   align-items: center;
   gap:40px;
}
#sec1 article div{
    height:400px;
    width:300px;
    /* border:2px solid greenyellow; */
}
#sec1 article #dd1{
    background-image: url('./Assests/imgi_48_women-fashion-free-img.jpg');
    height:400px;
    width:300px;
    background-size:300px 400px;
    background-repeat: no-repeat;
    /* filter:brightness(50%); */
    text-align: left;
   
}

#sec1 article #dd2{
    background-image: url('./Assests/imgi_49_men-fashion-free-img.jpg');
    height:400px;
    width:300px;
    background-size:300px 400px;
    background-repeat: no-repeat;
     /* filter:brightness(50%); */
}

#sec1 article #dd3{
    background-image: url('./Assests/imgi_50_footwear-free-img.jpg');
    height:400px;
    width:300px;
    background-size:300px 400px;
    background-repeat: no-repeat;
     /* filter:brightness(50%); */
}
#sec1 article #dd1 h4{
    height:200px;
    width:300px;
    align-content: end;
    /* border:2px solid red; */
    color:rgb(255, 255, 255);
     margin-left:10px;
}
#sec1 article #dd1 p{
    height:100px;
    /* border:2px solid greenyellow; */
    font-size: 12px;
    align-content: center;
    width:290px;
    margin-left:10px;
    line-height: 20px;
    color:white;
}
#sec1 article #dd1 button{
     margin-left:10px;
    height:40px;
    width:35%;
    background-color: #fff;
    color: black;
    border: none;
    

}
#sec1 article #dd1 button:hover{
     background-color: black;
    color:white;

}

#sec1 article #dd2 h4{
    height:200px;
    width:300px;
    align-content: end;
    /* border:2px solid red; */
    color:rgb(255, 255, 255);
     margin-left:10px;
}
#sec1 article #dd2 p{
    height:100px;
    /* border:2px solid greenyellow; */
    font-size: 12px;
    align-content: center;
    width:290px;
    margin-left:10px;
    line-height: 20px;
      color:white;
}
#sec1 article #dd2 button{
     margin-left:10px;
    height:40px;
    width:35%;
     background-color: #fff;
    color: black;
    border: none;

}

#sec1 article #dd2 button:hover{
     background-color: black;
    color:white;
}

#sec1 article #dd3 h4{
    height:200px;
    width:300px;
    align-content: end;
    /* border:2px solid red; */
    color:rgb(255, 255, 255);
     margin-left:10px;
}
#sec1 article #dd3 p{
    height:100px;
    /* border:2px solid greenyellow; */
    font-size: 12px;
    align-content: center;
    width:290px;
    margin-left:10px;
    line-height: 20px;
      color:white;
}
#sec1 article #dd3 button{
     margin-left:10px;
    height:40px;
    width:35%;
     background-color: #fff;
    color: black;
    border: none;

}


#sec1 article #dd3 button:hover{
    background-color: black;
    color:white;
}
#sec2{
    height:980px;
    /* border:2px solid blue; */
}
#sec2 h1{
    text-align: center;
    height:100px;
    /* border:2px solid red; */
    font-size:32px;
    align-content: end;
    
   
}
#sec2 p{
    text-align: center;
    color:blue;
}
#sec2 article{
    height:400px;
    /* border:2px solid deepskyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
#sec2 article div{
    height:300px;
    width:200px;
    /* border:2px solid green; */
}

#sec2 article div p{
    color:#333333a8;
    font-size: 12px;
    height:40px;
    align-content: center;
    text-align: left;
}
#sec2 article div span{
    text-decoration: line-through;
}
#sec2 article div font{
    color:black;
}
#sec2 article div button{
    height:20px;
    width:20px;
    border-radius: 50%;
    border: none;
}
#sec3{
    height:400px;
    /* border:2px solid yellowgreen; */
    background-image: url('https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2019/12/banner-03.jpg');
    background-attachment: fixed;
    background-size: cover;
}
#sec3 aside{
    height: 400px;
    /* border:2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:150px;
}
#sec3 aside div{
    height: 300px;
    width:400px;
    /* border:2px solid green; */
    color: #fff;
}
#sec3 aside div h4{
    height:80px;
    /* border:2px dashed red; */
    align-content: center;
}

#sec3 aside div h1{
    height:40px;
    /* border:2px dashed gray; */
    align-content: center;
    font-size: 28px;
}

#sec3 aside div p{
    height:50px;
    /* border:2px dashed red; */
    align-content: end;
    font-size: 14px;
}

#sec3 aside div button{
    height:40px;
    align-content: center;
    width:30%;
}

#sec3 aside div button:hover{
    background-color: black;
    color:white;
}
#sec4{
    height:350px;
    /* border:2px solid deeppink; */
    background-color:rgba(220, 220, 220, 0.114)
}
#sec4 article{
    height:350px;
    /* border:2px solid skyblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
}
#sec4 article div{
    height:230px;
    width:230px;
    /* border:2px solid crimson; */
    text-align: center;
}
#sec4 article div img{
    height:60px;
    width:60px;
}
#sec4 article div h4{
    height:60px;
    /* border:2px solid gold; */
    align-content: center;
}

#sec4 article div p{
    height:60px;
    /* border:2px solid gold; */
    align-content: center;
    font-size: 13px;
    line-height: 20px;
}
footer{
    height:400px;
    /* border:2px solid springgreen; */
}
footer article{
    height:300px;
    /* border:2px solid darkmagenta; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5%;
}
footer aside{
    height:80px;
    /* border:2px solid yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap:55%;
    font-size: 14px;
    
}
footer article div{
    height:200px;
    width:200px;
    /* border:2px solid red; */
}
footer article div h4{
    height:50px;
    /* border:2px solid; */
}
footer article div ol{
    list-style: none;
    line-height: 25px;
    font-size: 12px;
}
footer article div img{
    height:50px;
}

footer article div #heading4{
    height:80px;
    /* border:2px solid; */
}